Repository 1313BAN/team09-Where2Meow, pull requests merged in 2025-05, with the labels that each got.

#28 [FEATURE] 여행 계획 생성 개발
  .gitignore
  AI/app/__init__.py
  AI/app/config.py
  AI/app/data/__init__.py
  AI/app/data/config.py
  AI/app/data/manager/chroma_manager.py
  AI/app/data/manager/faiss_manager.py
  AI/app/data/run/run_chroma.py
  AI/app/data/run/run_faiss.py
  AI/app/data/test/chroma_test.py
  AI/app/data/test/faiss_test.py
  AI/app/data/util/document_converter.py
  AI/app/data/util/mysql_connector.py
  AI/app/database/.gitkeep
  AI/app/generator/create_rag.py
  AI/app/generator/create_search.py
  AI/app/main.py
  AI/app/rag/__init__.py
  AI/app/rag/attraction_rag.py
  AI/app/rag/attraction_search.py
  AI/app/rag/plan.py
  AI/app/rag/test/rag_test.py
  AI/app/rag/test/self_query_test.py
  AI/requirements.txt
Labels: AI

#32 [FEATURE] 여행 계획 RAG
  AI/app/data/run/run_plan_faiss.py
  AI/app/data/util/plan_converter.py
  AI/app/generator/create_rag.py
  AI/app/main.py
  AI/app/rag/attraction_rag.py
  AI/app/rag/plan.py
  AI/requirements.txt
Labels: AI

#36 fix: import 경로에서 'app' 접두사를 제거
  AI/app/data/run/run_faiss.py
  AI/app/data/run/run_plan_faiss.py
  AI/app/data/util/document_converter.py
  AI/app/data/util/mysql_connector.py
  AI/app/data/util/plan_converter.py
  AI/app/generator/create_rag.py
  AI/app/generator/create_search.py
  AI/app/main.py
  AI/app/rag/attraction_rag.py
  AI/app/rag/attraction_search.py
  AI/app/rag/plan.py
Labels: AI

#37 [FEATURE] 여행 계획 update 개발
  AI/app/data/run/run_attraction_faiss.py
  AI/app/data/util/document_converter.py
  AI/app/generator/create_rag.py
  AI/app/generator/description.py
  AI/app/main.py
  AI/app/rag/plan_search.py
  AI/app/util/merge_plan.py
  AI/app/validation/json_validation.py
Labels: AI

#39 [FEATURE] frontend 틀 짜기
  frontend/.editorconfig
  frontend/.gitattributes
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.vscode/extensions.json
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/api/dept.js
  frontend/src/assets/.gitkeep
  frontend/src/components/common/CommonButton.vue
  frontend/src/components/common/CommonCard.vue
  frontend/src/components/layout/LayoutFooter.vue
  frontend/src/components/layout/LayoutNavi.vue
  frontend/src/components/main/MainBanner.vue
  frontend/src/components/main/PopularSection.vue
  frontend/src/components/main/PromoBanner.vue
  frontend/src/components/main/RecommendationSection.vue
  frontend/src/components/main/SearchSection.vue
  frontend/src/index.css
  frontend/src/main.html
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/stores/counter.js
  frontend/src/utils/http-commons.js
  frontend/src/views/MainView.vue
  frontend/vite.config.js
Labels: frontend

#45 feat: AI 플랜 생성 및 업데이트를 위한 API 엔드포인트 및 관련 DTO 추가.
  backend/src/main/java/com/ssafy/where2meow/ai/controller/AiController.java
  backend/src/main/java/com/ssafy/where2meow/ai/dto/AttractionDto.java
  backend/src/main/java/com/ssafy/where2meow/ai/dto/CreateRequest.java
  backend/src/main/java/com/ssafy/where2meow/ai/dto/PlanDto.java
  backend/src/main/java/com/ssafy/where2meow/ai/dto/UpdateRequest.java
  backend/src/main/java/com/ssafy/where2meow/config/SecurityConfig.java
Labels: backend, AI

#48 [FIX] board api 오류 수정
  backend/src/main/java/com/ssafy/where2meow/board/repository/BoardRepository.java
  backend/src/main/java/com/ssafy/where2meow/board/service/BoardService.java
Labels: bug

#49 feat: 북마크와 대시보드를 포함한 계획 관리 기능 구현
  backend/src/main/java/com/ssafy/where2meow/common/util/UuidUserUtil.java
  backend/src/main/java/com/ssafy/where2meow/config/CorsConfig.java
  backend/src/main/java/com/ssafy/where2meow/config/SecurityConfig.java
  backend/src/main/java/com/ssafy/where2meow/plan/controller/PlanController.java
  backend/src/main/java/com/ssafy/where2meow/plan/dto/PlanResponse.java
  backend/src/main/java/com/ssafy/where2meow/plan/repository/PlanRepository.java
  backend/src/main/java/com/ssafy/where2meow/plan/service/PlanService.java
  backend/src/main/java/com/ssafy/where2meow/user/service/UserService.java
  frontend/src/api/plan.js
  frontend/src/components/layouts/LayoutNavi.vue
  frontend/src/components/views/plan/AddPlanCard.vue
  frontend/src/components/views/plan/PlanCard.vue
  frontend/src/router/index.js
  frontend/src/utils/http-commons.js
  frontend/src/views/PlanDashboardView.vue
  frontend/src/views/PlanView.vue
Labels: backend, frontend

#50 [FEATURE] 전반적인 UI 구현
  frontend/src/api/address.js
  frontend/src/api/attraction.js
  frontend/src/api/auth.js
  frontend/src/api/board.js
  frontend/src/api/comment.js
  frontend/src/api/dept.js
  frontend/src/api/plan.js
  frontend/src/api/user.js
  frontend/src/components/common/board/BoardDetail.vue
  frontend/src/components/layouts/LayoutFooter.vue
  frontend/src/components/layouts/LayoutNavi.vue
  frontend/src/components/views/board/BoardList.vue
  frontend/src/components/views/board/BoardSidebar.vue
  frontend/src/components/views/board/BoardWrite.vue
  frontend/src/components/views/detailAttraction/.gitkeep
  frontend/src/components/views/login/.gitkeep
  frontend/src/components/views/login/LoginForm.vue
  frontend/src/components/views/main/CTASection/CTASection.vue
  frontend/src/components/views/main/PopularSection.vue
  frontend/src/components/views/main/PromoBanner.vue
  frontend/src/components/views/main/RecommendationSection.vue
  frontend/src/components/views/main/RecommendationSection/RecommendationSection.vue
  frontend/src/components/views/main/SearchSection.vue
  frontend/src/components/views/main/SearchSection/PopularAttractions.vue
  frontend/src/components/views/main/SearchSection/SearchSection.vue
  frontend/src/components/views/mypage/.gitkeep
  frontend/src/components/views/mypage/BookmarkedPosts.vue
  frontend/src/components/views/mypage/MyComments.vue
  frontend/src/components/views/mypage/MyPosts.vue
  frontend/src/components/views/mypage/ProfileSettings.vue
  frontend/src/components/views/signup/.gitkeep
  frontend/src/components/views/signup/SignupForm.vue
  frontend/src/router/index.js
  frontend/src/stores/auth.js
  frontend/src/stores/counter.js
  frontend/src/utils/formatters.js
  frontend/src/utils/http-commons.js
  frontend/src/views/BoardDetailView.vue
  frontend/src/views/BoardView.vue
  frontend/src/views/LoginView.vue
  frontend/src/views/MainView.vue
  frontend/src/views/MyPageView.vue
  frontend/src/views/SignupView.vue
Labels: frontend

#51 Feature/44/create plan
  IMAGE_IMPROVEMENT_README.md
  backend/.gitignore
  backend/src/main/java/com/ssafy/where2meow/admin/controller/ImageCacheController.java
  backend/src/main/java/com/ssafy/where2meow/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/where2meow/attraction/dto/AttractionCategoryResponse.java
  backend/src/main/java/com/ssafy/where2meow/attraction/dto/AttractionDetailResponse.java
  backend/src/main/java/com/ssafy/where2meow/attraction/dto/AttractionListResponse.java
  backend/src/main/java/com/ssafy/where2meow/attraction/entity/Attraction.java
  backend/src/main/java/com/ssafy/where2meow/attraction/repository/AttractionCategoryRepository.java
  backend/src/main/java/com/ssafy/where2meow/attraction/service/AttractionService.java
  backend/src/main/java/com/ssafy/where2meow/common/service/HybridImageService.java
  backend/src/main/java/com/ssafy/where2meow/common/service/ImageCacheService.java
  backend/src/main/java/com/ssafy/where2meow/common/util/ImagePreloadScheduler.java
  backend/src/main/java/com/ssafy/where2meow/config/CorsConfig.java
  backend/src/main/java/com/ssafy/where2meow/config/SecurityConfig.java
  backend/src/main/java/com/ssafy/where2meow/config/WebConfig.java
  backend/src/main/resources/static/images/default-attraction.jpg
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/default-attraction.jpg
  frontend/src/api/attraction.js
  frontend/src/components/common/AttractionImage.vue
  frontend/src/components/views/plan/CategoryFilter.vue
  frontend/src/components/views/plan/CenterPanel.vue
  frontend/src/components/views/plan/ChatHeader.vue
  frontend/src/components/views/plan/ChatInput.vue
  frontend/src/components/views/plan/ChatMessages.vue
  frontend/src/components/views/plan/DaySelector.vue
  frontend/src/components/views/plan/InfoTab.vue
  frontend/src/components/views/plan/LeftPanel.vue
  frontend/src/components/views/plan/PanelHeader.vue
  frontend/src/components/views/plan/PlaceDetailCard.vue
  frontend/src/components/views/plan/RightPanel.vue
  frontend/src/components/views/plan/ScheduleList.vue
  frontend/src/components/views/plan/ScheduleTab.vue
  frontend/src/components/views/plan/SearchBar.vue
  frontend/src/components/views/plan/SearchResults.vue
  frontend/src/components/views/plan/SearchTab.vue
  frontend/src/components/views/plan/TripInfoEditor.vue
  frontend/src/layouts/PlanLayout.vue
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/utils/image-utils.js
  frontend/src/utils/planDataTransformer.js
  frontend/src/views/PlanDashboardView.vue
  frontend/src/views/PlanView.vue
  temp_update.txt
Labels: frontend

#56 [FEATURE] 여행지 페이지 구현
  IMAGE_IMPROVEMENT_README.md
  backend/src/main/java/com/ssafy/where2meow/attraction/service/AttractionService.java
  backend/src/main/java/com/ssafy/where2meow/review/controller/ReviewController.java
  backend/src/main/java/com/ssafy/where2meow/review/dto/ReviewListResponse.java
  backend/src/main/java/com/ssafy/where2meow/review/repository/ReviewLikeRepository.java
  backend/src/main/java/com/ssafy/where2meow/review/service/ReviewService.java
  frontend/src/api/attraction.js
  frontend/src/api/review.js
  frontend/src/components/common/map/GoogleMap.vue
  frontend/src/components/views/attraction/.gitkeep
  frontend/src/components/views/attraction/AttractionListSection/AttractionCard.vue
  frontend/src/components/views/attraction/AttractionListSection/AttractionListSection.vue
  frontend/src/components/views/attraction/AttractionSearchSection/AttractionSearchSection.vue
  frontend/src/components/views/attractionDetail/AttractionDetailSection.vue
  frontend/src/components/views/attractionDetail/ReviewEditModal.vue
  frontend/src/components/views/attractionDetail/ReviewItem.vue
  frontend/src/components/views/attractionDetail/ReviewList.vue
  frontend/src/components/views/attractionDetail/ReviewModal.vue
  frontend/src/components/views/detailAttraction/.gitkeep
  frontend/src/components/views/main/SearchSection/SearchSection.vue
  frontend/src/router/index.js
  frontend/src/utils/http-commons.js
  frontend/src/views/AttractionDetailView.vue
  frontend/src/views/AttractionView.vue
  frontend/src/views/BoardView.vue
  temp_update.txt
Labels: frontend

#55 [FEATURE] 일정 생성 부분 UI 구성
  AI/app/generator/description.py
  backend/src/main/java/com/ssafy/where2meow/ai/controller/AiController.java
  backend/src/main/java/com/ssafy/where2meow/ai/service/AiService.java
  backend/src/main/java/com/ssafy/where2meow/attraction/controller/AttractionController.java
  backend/src/main/java/com/ssafy/where2meow/attraction/service/AttractionService.java
  backend/src/main/java/com/ssafy/where2meow/common/service/HybridImageService.java
  backend/src/main/java/com/ssafy/where2meow/common/service/ImageCacheService.java
  backend/src/main/java/com/ssafy/where2meow/config/CorsConfig.java
  frontend/src/api/ai.js
  frontend/src/api/attraction.js
  frontend/src/components/common/AttractionImage.vue
  frontend/src/components/views/plan/CenterPanel.vue
  frontend/src/components/views/plan/ChatInput.vue
  frontend/src/components/views/plan/ChatMessages.vue
  frontend/src/components/views/plan/PlaceDetailCard.vue
  frontend/src/components/views/plan/PlanCard.vue
  frontend/src/components/views/plan/RightPanel.vue
  frontend/src/components/views/plan/ScheduleList.vue
  frontend/src/components/views/plan/SearchResults.vue
  frontend/src/components/views/plan/SearchTab.vue
  frontend/src/router/index.js
  frontend/src/utils/aiDataConverter.js
  frontend/src/utils/image-utils.js
  frontend/src/views/PlanDashboardView.vue
  frontend/src/views/PlanView.vue
Labels: backend, frontend

#57 [FIX] 메인페이지, 마이페이지, 게시판 버그 해결 및 리팩토링(일부)
  backend/src/main/resources/static/images/default-attraction(1).jpg
  backend/src/main/resources/static/images/default-attraction.jpg
  frontend/public/images/default-attraction(1).jpg
  frontend/public/images/default-attraction.jpg
  frontend/src/api/review.js
  frontend/src/components/common/board/BoardDetail.vue
  frontend/src/components/layouts/LayoutFooter.vue
  frontend/src/components/layouts/LayoutNavi.vue
  frontend/src/components/views/attraction/AttractionSearchSection/AttractionSearchSection.vue
  frontend/src/components/views/attractionDetail/AttractionDetailSection.vue
  frontend/src/components/views/attractionDetail/ReviewEditModal.vue
  frontend/src/components/views/attractionDetail/ReviewItem.vue
  frontend/src/components/views/attractionDetail/ReviewModal.vue
  frontend/src/components/views/board/BoardList.vue
  frontend/src/components/views/board/BoardSidebar.vue
  frontend/src/components/views/main/SearchSection/PopularAttractions.vue
  frontend/src/components/views/main/SearchSection/SearchSection.vue
  frontend/src/components/views/mypage/BookmarkedPosts.vue
  frontend/src/components/views/mypage/MyComments.vue
  frontend/src/components/views/mypage/MyPosts.vue
  frontend/src/views/MainView.vue
  frontend/src/views/MyPageView.vue
Labels: frontend
